{% extends "base.html" %}

{% block content %}
    <h1>Magasins</h1>
    <h2>Liste des magasins</h2>
    {% if stores_list %}
      <table>
          <tr>
              <th>Numéro</th>
              <th>Ville</th>
              <th>Adresse</th>
              <th>Gérant</th>
          </tr>
          {% for store in stores_list %}
              <tr>
                  <th>{{ store.id }}</th>
                  <th>{{ store.city }}</th>
                  <th>{{ store.address }}</th>
                  <th>Gérant</th>
              </tr>
          {% endfor %}
      </table>
    {% else %}
      <p>Il n'y a pas de magasins dans la base de données.</p>
    {% endif %}
{% endblock %}