{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <h1>Produit {{product.id}} - {{ product.name }}</h1>

        <form method="post" action="/product/{{product.id}}/update/">
            {% csrf_token %}
            <!-- Name -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Nom</span>
                </div>
                <input type="text" class="form-control" name="name" value="{{ product.name }}" placeholder="Nom" aria-label="Nom" aria-describedby="basic-addon1"/>
            </div>

            <!-- Unit Price -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Prix unitaire</span>
                </div>
                <input type="text" class="form-control" name="unit_price" value="{{ product.unit_price }}" placeholder="Prix unitaire" aria-label="Prix unitaire" aria-describedby="basic-addon1"/>
            </div>

            <!-- Buttons -->
            <div class="btn-group" role="group" aria-label="buttons">
                <button type="submit" class="btn btn-primary mr-2">Sauvegarder</button>
                <a href="#"><button type="button" class="btn btn-danger mr-2">Supprimer le produit</button></a>
            </div>
        </form>
    </div>
{% endblock content %}