{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <a href="/home/"><button type="button" class="btn btn-light">< Retour</button></a>
        <h1>{{ store }}</h1>
        <div class="section">
            <h2>Informations</h2>
            <!-- Gérant -->
            <div class="input-group mb-3">
                <!-- Combo box -->
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Gérant</label>
                </div>
                <!-- Drop down list of managers -->
                <select class="custom-select" id="inputGroupSelect01">
                    {% if store_managers %}
                        {% for m in store_managers %}
                            {% if store_manager == m %}
                                <option selected value={{m.id}}>{{m}}</option>
                            {% else %}
                                <option value={{m.id}}>{{m}}</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option selected>Choisir un manager...</option>
                    {% endif %}
                </select>
            </div>
            <!-- Address -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Adresse</span>
                </div>
                <input type="text" class="form-control" value={{ store.address }} placeholder="Adresse" aria-label="Adresse" aria-describedby="basic-addon1">
            </div>
            <!-- City -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Ville</span>
                </div>
                <input type="text" class="form-control" value={{ store.city }} placeholder="Ville" aria-label="Ville" aria-describedby="basic-addon1">
            </div>
            <!-- Buttons -->
            <div class="btn-group" role="group" aria-label="buttons">
                <a href="#"><button type="button" class="btn btn-primary mr-2">Sauvegarder</button></a>
                <a href="#"><button type="button" class="btn btn-success mr-2">Ajouter un rayon</button></a>
                <a href="#"><button type="button" class="btn btn-danger mr-2">Supprimer le magasin</button></a>
            </div>
        </div>
        <!-- Aisles table -->
        <div class="section">
            <h2>Liste des rayons</h2>
            {% if aisles %}
                <table class="table">
                    <thead>
                        <th>Numéro</th>
                        <th>Nom</th>
                        <th>Chef de rayon</th>
                        <th></th>
                    </thead>
                    {% for a in aisles %}
                        <tr>
                            <th>{{ a.id }}</th>
                            <th>{{ a.name }}</th>
                            {% for m in aisle_managers %}
                                {% if m.aisle == a %}
                                    <th>{{ a }}</th>
                                {% endif %}
                            {% endfor %}
                            <th><a href="/store/{{ store.id }}/aisle/{{ a.id }}"><button type="button" class="btn btn-info">Consulter</button></th>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Il n'y a pas de rayons dans ce magasin.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}